- title "Repository #{@repository.github_name} configs"

%h2 Edit Repository

= render 'repositories/tabs', active_class_name: "configs", repository: @repository
= render 'repositories/configurations_form', repository: @repository
