%h2 Create Repository

= simple_form_for @repository, wrapper: "inline" do |form|
  = form.input :github_name, input_html: {:class => "span12"}, hint: "if github repository url is https://github.com/railsbp/railsbp.com, github name is railsbp/railsbp.com"
  .actions
    = form.button :submit, :class => "primary"
