- title "Create Repository"

%h2 Create Repository

= simple_form_for @repository, html: {class: "form-horizontal"} do |form|
  = form.input :github_name, input_html: {:class => "span6"}, hint: "if github repository url is https://github.com/railsbp/railsbp.com, github name is railsbp/railsbp.com.<br/>You must be the owner of a repository or the collaboarator of a organization repository.".html_safe

  %p
    railsbp.com only supports public repositories on github, if you want to use it for your private repositories, feel free to
    = link_to "contact us", new_contact_path

  .form-actions
    = form.submit class: "btn-primary"
