%p Dear,
%br/
%p We are appreciated that you are using railsbp.com, but we notice that your repository #{@repository.github_name} is a private repository on github, so we can't check out and analyze your source codes.
%p
  If you have any questions, feel free to
  = link_to "contact us", "mailto:contact-us@railsbp.com"
%br/
%p
  Sincerely,
  %br/
  Railsbp Team
