%ul.nav.nav-tabs
  %li{:class => @active_class_name == "account" ? "active" : ""}= link_to "Account Overview", edit_user_registration_path
  %li{:class => @active_class_name == "plans" ? "active" : ""}= link_to "Plan & Billing", :plans
