.fluid
  .sidebar= render_cell :repository, :public
  .content
    %h2 What's Raisbp?
    %p Railsbp.com provides online rails projects code review services.

    %h3 Why Railsbp?
    %p Railsbp.com helps you to follow rails best practices and helps you to improve your rails projects code quality.

    %h3 Features
    %p

    %h3 Security
    %p Railsbp.com uses https for the whole website, all data you filled in are encrypted.
    %p Railsbp.com uses stripe.com for payment, we don't handle your credit credit information.
    %p Railsbp.com uses your github account for login, you don't need to input your password.
