<section class="page">
<h3>
	1. How to sign up?</h3>
<p>
	railsbp.com is integrated with github, you don&#39;t need to sign up, just use your github accout to sign in.</p>
<h3>
	2. What&#39;s github name?</h3>
<p>
	github name is the unique name for your repository on github, e.g. respository is https://github.com/flyerhzm/rails-bestpractices.com, its github name is flyerhzm/rails-bestpractices.com.</p>
<h3>
	3. What&#39;s repository token?</h3>
<p>
	repository token is used to authorized github hook, it is generated after repository created on railsbp.com, you should set the repository token on github repository admin page.</p>
<p>
	How to work with github private repository?</p>
<p>
	&nbsp;</p>
</section>
