<section class="page">
<h2>How it works</h2>
<p><a href="#public_repository">public repository on github</a></p>
<p><a href="#private_repository">private repository on github</a></p>
<p><a name="public_repository"></a></p>
<h3>Public repository on github</h3>
<p>1. Sign in with Github. &nbsp; &nbsp;<a class="primary btn" href="/users/auth/github">Sign in with Github</a></p>
<p>2. create a repository. &nbsp; &nbsp;<a href="/repositories/new">New Project</a></p>
<p>3. then each time you push to github, railsbp will analyze your code quality automatically. See Figure 1</p>
<p><img src="/images/railsbp_basic_workflow.png" /></p>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Figure 1</strong></p>
<p><a name="private_repository"></a></p>
<h3>Private repository on github</h3>
<p>You can simply fork <a href="https://github.com/flyerhzm/railsbp.com">railsbp.com</a> repository, and setup it on your own server.</p>
<p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Figure 4</strong></p>
</section>
