<section class="page">
<h2>
	Terms of Services</h2>
<p>
	The following terms and conditions govern all use of the Railsbp website and all content, services and products available at or through Railsbp. Railsbp is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Railsbp&rsquo;s&nbsp;<a href="https://railsbp.com/page/privacy">Privacy Policy</a>) and procedures that may be published from time to time on this Site.</p>
<p>
	Please read this Agreement carefully before accessing or using Railsbp. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access Railsbp or use any services.</p>
<h3>
	Your Railsbp Account and Site</h3>
<p>
	If you create an account on Railsbp, you are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the site. You must immediately notify Railsbp of any unauthorized uses of your account or any other breaches of security. Railsbp will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.</p>
<h3>
	Responsibility of Contributors</h3>
<p>
	If you operate a site, post links on Railsbp, or otherwise make (or allow any third party to make) material available by means of Railsbp (any such material, &ldquo;Content&rdquo;), You are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text, graphics, an audio file, or computer software. By making Content available, you represent and warrant that:</p>
<ul>
	<li>
		the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;</li>
	<li>
		if your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content;</li>
	<li>
		you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;</li>
	<li>
		the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;</li>
	<li>
		the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);</li>
	<li>
		the Content is not pornographic, libelous or defamatory (more info on what that means), does not contain threats or incite violence towards individuals or entities, and does not violate the privacy or publicity rights of any third party;</li>
	<li>
		your site is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, other blogs and web sites, and similar unsolicited promotional methods;</li>
</ul>
<p>
	By submitting Content to Railsbp for inclusion in your account, you grant Railsbp a world-wide, royalty-free, and non-exclusive license to reproduce, modify, adapt and publish the Content solely for the purpose of displaying, distributing and promoting your site.</p>
<p>
	Without limiting any of those representations or warranties, Railsbp has the right (though not the obligation) to, in Railsbp&rsquo;s sole discretion (i) refuse or remove any content that, in Railsbp&rsquo;s reasonable opinion, violates any Railsbp policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of Railsbp to any individual or entity for any reason, in Railsbp&rsquo;s sole discretion. Railsbp will have no obligation to provide a refund of any amounts previously paid.</p>
<h3>
	Fees and Payment</h3>
<p>
	Tracking a site on Railsbp requires a paid subscription. By selecting a paid subscription plan you agree to pay Railsbp the monthly or annual subscription fees indicated for that service (the payment terms for service are described below). Payments will be charged on the day you sign up for a subscription and will cover the use of that service for a monthly or annual period as indicated. Subscription fees are not refundable.</p>
<h3>
	Paid Subscription</h3>
<p>
	By signing up for a subscription plan you agree to pay Railsbp the monthly hosting fees indicated at&nbsp;<a href="https://railsbp.com/plans">https://railsbp.com/plans</a>&nbsp;in exchange for the services listed therein. Applicable fees will be invoiced starting from the day your subscription is established and in advance of using such services. Railsbp reserves the right to change the payment terms and fees upon thirty (30) days prior written notice to you. Subscriptions can be canceled by you at anytime.</p>
<h3>
	Changes</h3>
<p>
	Railsbp reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to Railsbp following the posting of any changes to this Agreement constitutes acceptance of those changes. Railsbp may also, in the future, offer new services and/or features through Railsbp (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.</p>
<h3>
	Termination</h3>
<p>
	Railsbp may terminate your access to all or any part of Railsbp at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your Railsbp account (if you have one), you may simply discontinue using Railsbp. Notwithstanding the foregoing, if you have a paid subscription account, such account can only be terminated by Railsbp if you materially breach this Agreement and fail to cure such breach within thirty (30) days from Railsbp&rsquo;s notice to you thereof; provided that, Railsbp can terminate Railsbp immediately as part of a general shut down of our service. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
<h3>
	Disclaimer of Warranties</h3>
<p>
	Railsbp is provided &ldquo;as is&rdquo;. Railsbp and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither Railsbp nor its suppliers and licensors, makes any warranty that Railsbp will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, Railsbp at your own discretion and risk.</p>
<h3>
	Limitation of Liability</h3>
<p>
	In no event will Railsbp, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement or substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to Railsbp under this agreement during the twelve (12) month period prior to the cause of action. Railsbp shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p>
<h3>
	General Representation and Warranty</h3>
<p>
	You represent and warrant that (i) your use of Railsbp will be in strict accordance with the&nbsp;&nbsp;<a href="https://railsbp.com/page/privacy">Railsbp Privacy Policy</a>, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of Railsbp will not infringe or misappropriate the intellectual property rights of any third party.</p>
<h3>
	Indemnification</h3>
<p>
	You agree to indemnify and hold harmless Railsbp, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys&rsquo; fees, arising out of your use of Railsbp, including but not limited to your violation of this Agreement.</p>
</section>
