body
  background-color: #eee
.topbar
  li.avatar
    padding: 8px 0 0 8px
  nav
    float: right
    margin-top: 6px
#flash
  margin: 50px 0 0 10px
#primary
  background-color: #fff

#loading
  height: 100px
