// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#plans
  margin: 0 20px
  td, th
    line-height: 30px
    padding: 3px 10px
