// Place all the styles related to the repositories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
dl
  margin: 20px 0 20px 25px
  overflow: hidden
dt
  clear: left
  float: left
  width: 70px
dd
  float: left
  margin: 0
  width: 200px
  &.message
    width: 80%

.config
  float: right
  margin: 3px 20px 0 0

.repository-info
  p
    margin: 10px 20px
    span
      display: inline-block
      width: 110px
      text-align: right
    b
      margin: 0 20px

.edit_repository
  .subtitle
    font-size: 14px
    font-weight: bold
    margin: 10px 0 0 30px
  .inputs-list
    li
      border-bottom: 1px solid #ddd
    label
      line-height: 30px
    input[type=checkbox]
      margin-top: 9px
    input[type=text]
      height: 10px
    span.description
      color: #aaa
      margin: 0 0 0 10px
