ul.repositories
  list-style: none
  padding: 0
  margin: 0
  li
    padding: 10px 25px
    border-bottom: 1px solid #ccc
    font-size: 16px
    line-height: 24px
    &:nth-child(even)
      background-color: #f6f6f6
    p
      margin: 5px 0 0
      font-size: 13px
      color: #666

