- title "#{current_user.nickname} Plans & Billing"

%h2 Account Settings

= render_cell :account, :tabs, "plans"

#plans
  %p Free

  .alert-message.block-message.info
    %h4 We offer some extra services
    %ul
      %li Implement checks according to your team code guideline.
      %li Install railsbp.com in your own server
    %p Please use the #{link_to "Contact Page", new_contact_path} or send an email to #{link_to "contact-us@railsbp.com", "mailto:contact-us@railsbp.com"}.

